<ion-view view-title='<span class="view-title">Way to Appy </span>	<span class="subTitle">Dream your life, Live your dreams</span>'>
    <ion-content class="has-subheader has-header">


        <div class="cntArea has-header">
            <div class="appMenuList">
                <ion-list>
                    <ion-checkbox ng-model="filter.red" class="checkBox">Academics</ion-checkbox>
                    <ion-list class="subCheck">
                        <ion-checkbox ng-model="filter.red" class="checkBox">Academics</ion-checkbox>
                        <ion-checkbox ng-model="filter.red" class="checkBox">Academics</ion-checkbox>
                        <ion-checkbox ng-model="filter.red" class="checkBox">Academics</ion-checkbox>
                    </ion-list>
                </ion-list>
                <ion-list>
                    <ion-checkbox ng-model="filter.red" class="checkBox">Academics</ion-checkbox>
                    <ion-list class="subCheck">
                        <ion-checkbox ng-model="filter.red" class="checkBox">Academics</ion-checkbox>
                        <ion-checkbox ng-model="filter.red" class="checkBox">Academics</ion-checkbox>
                        <ion-checkbox ng-model="filter.red" class="checkBox">Academics</ion-checkbox>
                    </ion-list>
                </ion-list>
                <ion-list>
                    <ion-checkbox ng-model="filter.red" class="checkBox">Academics</ion-checkbox>
                    <ion-list class="subCheck">
                        <ion-checkbox ng-model="filter.red" class="checkBox">Academics</ion-checkbox>
                        <ion-checkbox ng-model="filter.red" class="checkBox">Academics</ion-checkbox>
                        <ion-checkbox ng-model="filter.red" class="checkBox">Academics</ion-checkbox>
                    </ion-list>
                </ion-list>
            </div>


        </div>

    </ion-content>


</ion-view>