<ion-view view-title='<span class="view-title">{{"app_name"|translate}}</span>	<span class="subTitle">{{"slogen"|translate}}</span><p>{{"menu_contact_us"| translate}}</p>'>

        <ion-content class="has-subheader has-header has-footer has-subfooter">
        <!-- <a class="btnBck" onclick="window.history.go(-1)"><img src="img/ic_arrow_back.png" /></a>-->

        <div class="cntArea">
            <div class="cntOpt cntPage">
                <div class="list formReg">
                    <form>


                        <label>
                            <ion-md-input class="yourName" placeholder="{{'txt_enter_name' | translate}}" type="name" data-ng-model="data.Name"></ion-md-input>
                            <!-- <input class="yourName" type="text" placeholder="Name"> -->
                        </label>
                        <label>
                            <ion-md-input class="emailID" placeholder="{{'txt_enter_email' | translate}}" type="email" data-ng-model="data.email"></ion-md-input>
                            <!-- <input class="emailID" type="email" placeholder="Email Address"> -->
                        </label>
                        <label>
                            <div class="list optNums">
                              <div class="row">
                                <div class="col col-10  arrowsDown">
                                  <input type="text" data-ng-model="data.countryCode" ng-click="openPopup()" class="selNum pcountrycod"/>
                                </div>
                                <div class="col col-90">
                                  <label class="item item-input item-select">
                                      <label class="numOpt">
                                          <ion-md-input class="mobNum" placeholder="{{'txt_enter_phone' | translate}}" type="tel" data-ng-model="data.phoneNo"></ion-md-input>
                                          <!-- <input class="mobNum" type="text" placeholder="Phone Number"> -->
                                      </label>

                                  </label>
                                </div>
                              </div>


                            </div>
                        </label>
                        <label>
                            <!--<ion-md-input class="passWord2" placeholder="subject" type="text" data-ng-model="data.subject"></ion-md-input>-->
                            <input type="text" placeholder="{{'txt_subject' | translate}}" data-ng-model="data.subject">


                        </label>
                        <label>
                            <!-- <input class="passWord2" type="password" placeholder="Confirm Password"> -->
                            <!--<ion-md-textarea class="passWord2" placeholder="Message" data-ng-model="data.Password" type="text-area"></ion-md-textarea>-->

                            <textarea id="TextArea1" class="messageArea" rows="3" placeholder="{{'enter_message' | translate}}" cols="44" data-ng-model="data.message"></textarea>

                        </label>



                    </form>

              </div>
            </div>
        </div>


    </ion-content>
    <ion-footer-bar align-title="center" class="transparent">
    <div class="title">
        <button class="btn-update" ng-click="contactDetails(data)">{{"txt_submit"|translate}}</button>
    </div>
</ion-footer-bar>
    </ion-view>
