<ion-view view-title='<span class="view-title">Way to Appy </span>	<span class="subTitle">Dream your life, Live your dreams</span>'>

    <ion-content class="has-subheader has-header">


        <div class="cntArea">
       
            <div class="dashItem">
                <div class="row">
                    <div class="col col-50"><a ui-sref="appMenu"><img src="img/appy_menu_icon.png" /></a></div>
                    <div class="col col-50"><a ui-sref="personalDetail"><img src="img/my_profile2.png" /></a></div>
                </div>
                <div class="row">
                    <div class="col col-50"><a ui-sref="OwnAppyMessage"><img src="img/message_appy_icon.png" /></a></div>
                    <div class="col col-50"><a ui-sref="MakeSomeoneAppy"><img src="img/someone_appy_icon.png" /></a></div>
                </div>
                <div class="row">
                    <div class="col col-50"><a ui-sref="HowtouseAppy"><img src="img/howtouse_icon.png" /></a></div>
                    <div class="col col-50"><a  ui-sref="toolTechniques"><img src="img/tool_icon.png" /></a></div>
                </div>
                <div class="row">
                    <div class="col col-50"><a  ui-sref="AboutUs"><img src="img/about_us_icon.png" /></a></div>
                    <div class="col col-50"><a  ui-sref="ContactUs"><img src="img/contact_icon.png" /></a></div>
                </div>
                <div class="row">
                    <div class="col col-50"><a href="#"><img src="img/share_icon.png" /></a></div>
                    <div class="col col-50"><a href="#"><img src="img/logout_icon.png" /></a></div>
                </div>
            </div>
        </div>

    </ion-content>


</ion-view>