<ion-view view-title='<span class="view-title">Way to Appy </span>	<span class="subTitle">Dream your life, Live your dreams</span><p>
  My Own Appy Messages
</p>


'>

    <ion-content class="has-subheader has-header cntLarge">
        <div class="cntArea">

            </div>
            <a class="button button-full pOwnappy" ui-sref="AddOwnAppyMessage({eauid:'null',sub:'null',text:'null',msgId:'null'})"></a>
            <div class="appMenuList">
                <!--<ion-list>
                    <div class="row ">
                        <div class="col-90" ng-repeat="msg in UserMessages">{{msg}}</div>
                        <div class="col-10">Edit</div>
                    </div>
                </ion-list>-->
                <ul class="list" >

                    <li class="item" ng-repeat="msg in UserMessages">
                        <div>{{msg.sub}}</div>
                        <div>{{msg.desc}}</div>

                        <label class="toggle toggle-assertive pcheckwol">

                            <input type="checkbox" ng-model="msg.enable" ng-change="enableDisable(msg.enable,msg.msgid)">

                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label> 

  <div class="leftbtns" ><button type="button" class="edbtns" ui-sref="AddOwnAppyMessage({eauid:'{{msg.eid}}',sub:'{{msg.sub}}',text:'{{msg.desc}}',msgId:'{{msg.msgid}}'})"><i class="icon ion-compose"></i></button> </div>

                        <div class="rightbtns"><button type="button" class="edbtns" ng-click="DeleteOwnAppyMessage({{msg.msgid}},{{msg.eid}})"><i class="icon ion-trash-a"></i></button></div>


                    </li>

                </ul>
            </div>

    </ion-content>


</ion-view>
