

<ion-view view-title='<span class="view-title">Way to Appy </span>	
    <span class="subTitle">Dream your life, Live your dreams</span><p> 
 Personal Info  
</p>' > 
    <ion-content class="pprsoninfo" >

        <div class="cntArea">
            <div class="cntOpt">
                <div class="infoInner">
                  
                    <div class="infoForm">
                        <label>
                            <ion-md-input class="yourName" ng-model="details.name" placeholder="Name" type="name"></ion-md-input>
                        </label>
                        <label>
                            <ion-md-input class="emailID" ng-model="details.email" placeholder="Email" name="email" type="email"></ion-md-input>
                        </label>
                        <label class="numOptN">
                            <!-- <ion-md-input class="mobNum"ng-model="details.mobile" placeholder="Phone Number" type="text"></ion-md-input>
                            <select>
                                <option selected>(IN)+91</option>
                                <option>(PK)+92</option>
                            </select> -->

                        </label>
                        <label>
                            <button class="btn-update">Update</button>
                        </label>
                    </div>

                </div>
                <form>

                    <div class="infoInner">
                        <h3>Password</h3>
                        <div class="infoForm">
                            <label>
                                <ion-md-input class="passWord" placeholder="Current Password" name="Currentpassword" type="password" ng-model="data.currentPassword"></ion-md-input>
                            </label>
                            <label>
                                <ion-md-input class="passWord" placeholder="New Password" name="Newpassword" type="password" ng-model="data.newPassword"></ion-md-input>
                            </label>
                            <label>
                                <ion-md-input class="passWord" placeholder=" Conform Password" name="Conformpassword" type="password"></ion-md-input>

                            </label>
                            <label>
                                <button class="btn-update" ng-click="updatePassword(data)">Update</button>
                            </label>
                        </div>

                    </div>
                </form>
                <form>
                    <div class="infoInner">
                        <h3>Max appy messages per day</h3>
                        <div class="infoForm">
                            <label>
                                <ion-md-input type="text" placeholder="Max messages" ng-model="messageDetail"></ion-md-input>
                            </label>

                            <label>
                                <button class="btn-update" ng-click="updateMaxMessage(messageDetail)">Update</button>
                            </label>
                        </div>

                    </div>
                </form>
                <div class="infoInner">
                    <h3>Language</h3>
                    <div class="infoForm">
                        <div class="arrowsDown">
                            <!--<h1>{{ 'TITLE' | translate }}</h1>
                            <p>{{ 'MESSAGE' | translate }}</p>-->
                            <select ng-model="language">
                                <option value="">--Select Language--</option>
                                        <option ng-repeat="lang in languages" ng-selected="{{lang.LId}}" value="{{lang.LId}}">{{lang.Language}}</option>

                            </select>
                            
                            <!--<button ng-click="changeLanguage(lang)">procced</button>-->
                        </div>



                        <label>
                            <button class="btn-update" ng-click="changeLanguage(language)">Update</button>
                        </label>
                    </div>

                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
